# Django Settings
SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database Settings
DATABASE_URL=postgresql://hrm_user:hrm_password_2024@db:5432/hrm_db

# Biometric Device Settings
BIOMETRIC_DEVICE_IP=192.168.1.201
BIOMETRIC_DEVICE_PORT=4370
BIOMETRIC_DEVICE_PASSWORD=0
BIOMETRIC_DEVICE_TIMEOUT=5

# Celery Settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Attendance Sync Settings (in seconds)
ATTENDANCE_SYNC_INTERVAL=300

#DB config
DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password
DB_HOST=database_host
DB_PORT=database_port

#email_confi
EMAIL_HOST_NAME=your_smtp_host_here
EMAIL_HOST_USER=your_smtp_username_here
EMAIL_HOST_PASSWORD=your_smtp_password_here
EMAIL_PORT=your_smtp_port_here
